<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/general.html :: headerfiles">
    <title>Admin</title>
</head>

<body>


<div>
    <table>
        <thead>
        <th>UserName</th>
        <th>Password</th>
        <th>Roles</th>
        </thead>
        <tr th:each="user : ${allUsers}">
            <td th:utext="${user.username}">...</td>
            <td th:utext="${user.password}">...</td>

            <td th:each="role : ${user.roles}">
                <p th:utext="${role.name}">...</p>
            </td>
            <td>
                <form th:action="@{/admin}" method="post">
                    <input type="hidden" name="username" th:value="${user.username}"/>
                    <input type="hidden" name="action" value="delete"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <a href="/">Главная</a>
</div>
</body>
</html>