<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <th:block th:include="fragments/general.html :: headerfiles"> </th:block>
    <title>IWatched</title>

    <style type="text/css">
        #div1 {
        text-align: center;
        margin: 0px 25% 0px 25%;
        }
        #p1 {
        margin-bottom: 0px;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

    <div id="div1">
        <h1>Добро пожаловать!</h1>
        <p>На нашем сайте Вы сможете ознакомиться с некоторыми фильмами, а также по Вашему усмотрению отметить фильмы как "Хочу посмотреть" и "Посмотрел" после регистрации и авторизации.</p>
        <br>
        <p id="p1">Нажмите <a th:href="@{/hello}">здесь</a> чтобы увидеть<b>*</b> личное приветствие.</p>
        <p><b>*</b>Доступно для авторизованных пользователей</p>
    </div>

</body>
</html>