<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title th:utext="${movie.title}">Title</title>

  <link th:href="@{/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet" media="screen"/>
  <link rel="stylesheet" type="text/css" href="style.css">

  <script th:src="@{/jquery/jquery.min.js}"></script>
  <script th:src="@{/popper/popper.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

  <style type="text/css">
        body {
        margin: 7px;
        }
        movie {}
    </style>
</head>

<body>
  <movie>
    <td th:utext="${movie.title}">...</td>
    <td th:utext="${movie.release_year}">...</td>
    <br>
    <br>

    <img th:src="@{'/movies/poster/'+${movieId}}" width="200" height="300" alt="poster"/>

    <br>
    <br>
  </movie>

  <form th:action="@{/ratings}" method="post">
    <input type="hidden" name="username" value="Stepan"/>
    <input type="hidden" name="movieID"  th:value="${movieId}"/>
    <textarea name="review" rows="7" cols="25" placeholder="Место для Вашего отзыва"></textarea>
    <br>
    <select name="ratingDigital">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <button type="submit">Create</button>
  </form>

</body>
</html>