<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <th:block th:include="fragments/general.html :: headerfiles"> </th:block>
  <title th:utext="${movie.getTitle()}">Title</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

  <movie>
    <td th:utext="${movie.getTitle()}">...</td>
    <td th:utext="${movie.getRelease_year()}">...</td>
    <br>
    <br>

    <img th:src="@{'/movies/poster/'+${movieId}}" width="200" height="300" alt="poster"/>

    <br>
    <br>
  </movie>

  <form sec:authorize="isAuthenticated()" th:action="@{/movieState}" method="post">
    <input type="hidden" name="movieID"  th:value="${movieId}"/>
    <button th:if="${state == 'nothing'}" type="submit" name="state" value="want">Хочу посмотреть</button>
    <button th:if="${state == 'wanted'}" type="submit" name="state" value="dontwant">Не хочу смотреть</button>
    <button th:if="${state == 'nothing' || state == 'wanted'}" type="submit" name="state" value="watched">Посмотрел</button>
    <button th:if="${state == 'watched'}" type="submit" name="state" value="notwatched">Не смотрел</button>
  </form>

  <form sec:authorize="isAuthenticated()" th:action="@{/ratings}" method="post">
    <input type="hidden" name="movieID"  th:value="${movieId}"/>
    <textarea name="review" rows="7" cols="25" placeholder="Место для Вашего отзыва"></textarea>
    <br>
    <select name="ratingDigital">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <button type="submit">Create</button>
  </form>

  <br>
  <p>Отзывы наших пользователей:</p>
  <br>

  <tr th:each ="rating : ${ratings}">

    <a>Отзыв  пользователя </a><a th:href="@{'/users/' + ${rating.getUser().username}}"><td th:utext="${rating.getUser().username}">...</td></a>
    <br>
    <textarea disabled th:utext="${rating.getReview()}">...</textarea>
    <br>
    <a>Оценка: </a><a th:utext="${rating.getRating()}"></a>
    <br>
    <br>

  </tr>

</body>
</html>