<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="fragments/general.html :: headerfiles">
  <title>Фильмы</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

  <tr th:each ="movie : ${movies}">
    <a th:href="@{'/movies/' + ${movie.id}}">
      <td th:utext="${movie.title}">...</td>
    </a>
    <td th:utext="${movie.release_year}">...</td>
  </tr>

  <a href='/movies/add' sec:authorize="hasRole('ROLE_ADMIN')">
    <p>Добавить фильм</p>
  </a>
</body>
</html>