<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <th:block th:include="fragments/general.html :: headerfiles"> </th:block>
  <title>Фильмы</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

<filter>
  <form th:action="@{/movies}" method="post">
    <p>Фильтр по жанру:
      <select name="genre">
      <option>Все</option>
      <option>Драма</option>
      <option>Фантастика</option>
      <option>Комикс</option>
      <option>Боевик</option>
    </select>
      <button type="submit">Фильтровать</button>
  </form>
</filter>

<movies>
  <tr th:each ="movie : ${movies}">
    <movie style="margin: 5px; padding: 5px; float: left;">
      <img th:src="@{'/movies/poster/'+${movie.id}}" width="100" height="150" alt="poster"/>
      <br>
      <a th:href="@{'/movies/' + ${movie.id}}"><td th:utext="${movie.title}"></td></a>
      <td th:utext="${movie.release_year}">...</td>
    </movie>
  </tr>
</movies>

</body>
</html>