<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <th:block th:include="fragments/general.html :: headerfiles"> </th:block>
  <title th:utext="${movie.title}">Title</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

  <movie>
    <td th:utext="${movie.title}">...</td>
    <td th:utext="${movie.release_year}">...</td>
    <br>
    <br>

    <img th:src="@{'/movies/poster/'+${movieId}}" width="200" height="300" alt="poster"/>

    <br>
    <br>
  </movie>

  <form th:action="@{/ratings}" method="post">
    <input type="hidden" name="username" value="Stepan"/>
    <input type="hidden" name="movieID"  th:value="${movieId}"/>
    <textarea name="review" rows="7" cols="25" placeholder="Место для Вашего отзыва"></textarea>
    <br>
    <select name="ratingDigital">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <button type="submit">Create</button>
  </form>

</body>
</html>