<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="fragments/general.html :: headerfiles">
  <title>Добавление нового фильма</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

<form enctype="multipart/form-data" method="post">
  <input name="title" required placeholder="Название фильма">
  <input name="year" placeholder="Год выхода фильма">

  <input name="poster" type="file" accept="image/jpeg">

  <button type="submit">Добавить</button>
</form>


</body>
</html>