<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <th:block th:include="fragments/general.html :: headerfiles"> </th:block>
  <title>Добавление нового фильма</title>
</head>
<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

<form enctype="multipart/form-data" method="post">
  <input name="title" required placeholder="Название фильма">
  <input name="year" placeholder="Год выхода фильма">

  <input name="poster" type="file" accept="image/jpeg">

  <tr th:each ="genre : ${genres}">
    <p><input type="checkbox" th:name="genres" th:value="${genre.genre}" th:utext="${genre.genre}"></p>
  </tr>


  <button type="submit">Добавить</button>
</form>


</body>
</html>