<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
</head>
<body>
<form th:action="@{/registration}" method="post">
    <h2>Регистрация</h2>
    <div><label> User Name : <input type="text" placeholder="Username" autofocus="true" name="username"/> </label></div>
    <div><label> Password: <input type="password" placeholder="Password" name="password"/> </label></div>
    <div><label> Password: <input type="password" name="passwordConfirm" placeholder="Confirm your password"/> </label></div>
    <button type="submit">Зарегистрироваться</button>
</form>
<a href="/">Главная</a>
</body>
</html>