<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="fragments/general.html :: headerfiles">
  <title th:utext="${user.username}">Title</title>
</head>

<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

<img th:src="@{'/users/avatars/'+${user.username}}" width="200" height="200" alt="avatar"/>
<br>
<p th:utext="${user.username}">...</p>
<br>
<br>

<tr th:each ="rating : ${ratings}">

  <a>Отзыв на фильм </a><a th:href="@{'/movies/' + ${rating.movie.id}}"><td th:utext="${rating.movie.title}">...</td></a>
  <br>
  <textarea disabled th:utext="${rating.review}">...</textarea>
  <br>
  <a>Оценка: </a><a th:utext="${rating.rating}"></a>

</tr>

</body>
</html>