<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <th:block th:include="fragments/general.html :: headerfiles"> </th:block>
  <title th:utext="${user.getUsername()}">Title</title>
</head>

<body>
<nav th:replace="fragments/general.html :: navbar"></nav>

<img th:src="@{'/users/avatars/'+${user.getUsername()}}" width="200" height="200" alt="avatar"/>
<br>
<p th:utext="${user.getUsername()}">...</p>
<br>
<br>

<tr th:each ="rating : ${ratings}">

  <a>Отзыв на фильм </a><a th:href="@{'/movies/' + ${rating.getMovie().getId()}}"><td th:utext="${rating.getMovie().getTitle()}">...</td></a>
  <br>
  <textarea disabled th:utext="${rating.getReview()}">...</textarea>
  <br>
  <a>Оценка: </a><a th:utext="${rating.getRating()}"></a>

</tr>

</body>
</html>